
body{
  /* border: 2px solid green; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* align along the flex direction */
  align-items: center;
}
 
 .container{
  border: 2px solid;
  max-height: 100vh;
  width:auto;
  margin: 0 auto;
  text-align: center;
  overflow: scroll;
 }

 .box{
  
  padding:100px;
  row-gap: 100px;

 }

 header {
  display: flex;
  flex-direction: row;
  justify-content: center; /* align along the flex direction */
  align-items: center; /* align across the flex direction */
}

.btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn:hover{
  background-color: #ad7600;
}

#tagline{
  margin-bottom: 20px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.avatar {
  border: 1px solid pink;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#personalInfo{
  /* border:1px solid black; */
  max-width: 100%;
  padding: 40px;
  margin:20px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}

#personalInfo:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.editBtn{
  margin-top: 10px;
  height: 30px;
  width:50px;
}

.deleteBtn{
  margin-top: 10px;
  height: 30px;
  width:50px;
}

.labels{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#profilePic{
  /* border:2px solid red; */
  margin-bottom: 20px;;
}

.event-box{
  padding: 40px;
  margin:20px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.event-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.editing{
  padding:80px;

  

}