/*
Styling 
*/

header {
  display: flex;
  flex-direction: row;
  padding:0;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #504f4f;
  background-color: hsla(30, 1%, 42%, 0.137);
  position: fixed; /* Add this line to make the header fixed */
  top: 0; /* Stick it to the top */
  width: 100%; /* Make it full-width */
  z-index: 1000; /* Ensure it appears above other content */
}


body {
  min-height: 100vh;
  width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  margin: 0;
  flex-direction: column;
  color: #333;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5; 
}

.container {
  width: 100%;
  height: 100vh;
  text-align: center;
  border-radius: 5px;
  background-color: #f5f5f5; 
}

/*
  * Loading screen styles
  */
.loading-container {
  text-align: center;
}

.loading-icon img {
  width: 400px; 
  margin-bottom: 30px;;
}

.app-name {
  font-size: 70px; 
  margin-top: 30px; 
  color: #333; 
}

.subtext {
  text-align: center;
  font-size: 30px; 
  margin-top: 25px; 
  color: #555; 
  margin-bottom: 100px;
}

.btn {
  padding: 30px 90px;
  background-color: #5732ba;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  font-size: 45px;
}

.btn:hover {
  background-color: #0056b3;
}


/*
Login and Register pages
*/

form[action="/login"], form[action="/register"]{
  padding: 2rem;
  border-radius: 10px;
  background-color: #f5f5f5;
  border: 2px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.form-login{
  margin: 145px auto 0 0;
}

.form-register{
  margin: 70px auto 0 0;
}

.form-login label ,.form-register label {
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
}

.form-login input, .form-register input {
  padding: 13px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-login button[type="submit"], .form-register button[type="submit"] {
  padding: 15px;
  background-color: #5632ba;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.form-login [type="submit"]:hover, .form-register [type="submit"]:hover {
  background: #0056b3;
}




#tagline{
  margin-bottom: 20px;
}

a:link {
  text-decoration: none;
}

a:visited {
  color:#5732ba;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: #007bff; 
}

/*
profile page
*/

.box{
  margin:auto;
  max-width: 100%;
  height:auto;
  overflow: auto;
  /* border:2px solid red; */
  padding:10%;
}

.avatar {
  border: 1px solid pink;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#personalInfo{
  /* border:1px solid black; */

  max-width: 100%;
  padding: 40px;
  margin:20px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}

#personalInfo:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.editBtn{
  margin-top: 10px;
  height: 30px;
  width:50px;
}

.deleteBtn{
  margin-top: 10px;
  height: 30px;
  width:50px;
}

.labels{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#profilePic{
  /* border:2px solid red; */
  margin-bottom: 20px;;
}

.event-box{
  padding: 40px;
  margin:20px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.event-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.editing{
  margin-top: 400px;
  padding:200px;
}