
body{
  /* border: 2px solid green; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* align along the flex direction */
  align-items: center;
}
 
 .container{
  border: 2px solid;
  max-height: 500px;
  margin: 0 auto;
  text-align: center;
  
 }

 .box{
  /* border:2px solid; */
  padding:100px;

 }



 header {
  display: flex;
  flex-direction: row;
  justify-content: center; /* align along the flex direction */
  align-items: center; /* align across the flex direction */
  
}


.btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn:hover{
  background-color: #ad7600;
}

#tagline{
  margin-bottom: 20px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}