{% extends 'base.html' %}

{% block content %}
<div class="editing">
  <h2>Add Event</h2>
    <form action="{{ url_for('add_event') }}" method="post">
        <label for="eventName">Event Name:</label>
        <input type="text" id="eventName" name="eventName" required>
        <br/>
        <br/>
        <label for="organizer">Organizer:</label>
        <input type="text" id="organizer" name="organizer" required>
        <br/>
        <br/>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
        <br/>
        <br/>
        <label for="time">Time:</label>
        <input type="time" id="time" name="time" required>
        <br/>
        <br/>
        <label for="pointOfContact">Contact:</label>
        <input type="email" id="pointOfContact" name="pointOfContact" required>
        <br/>
        <br/>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>
        <br/>
        <br/>
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" required></textarea>
        <br/>
        <br/>
        <label for="capacity">Capacity:</label>
        <input type="number" id="capacity" name="capacity" required min="1">
        <br/>
        <br/>
        <button class="post-btn">Post</button>
      </form>
    </div>

{% endblock %}
