{% extends 'base.html' %}
 {%block content %}

<div class="editing">
  <h2>Personal Info</h2>
  <form method="post" action="{{url_for('editUser',user_id = user._id)}}">
    <label for="name"> username</label><br />
    <input type="text" id="name" name="fname" value="{{user.name}}" /><br />

    <label for="email">email</label><br />
    <input
      type="email"
      id="email"
      name="femail"
      value="{{user.email}}"
    /><br /><br />

    <label for="password">password</label><br />
    <input
      type="password"
      id="password"
      name="fpassword"
      value="{{user.password}}"
    /><br /><br />

    <input type="submit" value="Update" />
  </form>
</div>

{% endblock %}
