{% extends 'base.html' %}

{%block content %}

<h2>Events</h2>
    <section class="event">
        {% for doc in docs %}
        <article class="event">
            <nav class="controls">

            </nav>
            <p class="author">
                {{doc.name}} at {{ doc.created_at.strftime("%H:%M on %d %B %Y") }}
            </p>
            <p class="location">
                {{ doc.location }}
            </p>
            <p class="description">
                {{ doc.description }}
            </p>
            <p class="numOfPpl">
                {{ doc.numOfPpl }}
            </p>
            </p>
        </article>
        {%endfor%}

    </section>
    
{% endblock %}