{% extends 'base.html' %}

{%block content %}

<div id="profilePic">
    <img src="https://cdn2.iconfinder.com/data/icons/instagram-outline/19/11-512.png" alt="user1" class="avatar">
    <figcaption>@{{user.name}}</figcaption>
</div>

<div class="box">
  

    <div class="labels">
        <h3>Perosnal Info</h3>
        <form action="{{ url_for('editUser',user_id=user._id)}}" method="GET">
          <button class="editBtn">edit</button>
        </form>
    </div>
    <div id="personalInfo">
       
        <div class="fields">
           
            <p><strong>email</strong> : {{user.email}}</p>
            <p><strong>username</strong>: {{user.name}}</p>
            <p><strong>password</strong>: {{user.password}}</p>
           
        </div>

    </div>

    <div class="labels">
        <h3>My RSVPed Volunteer Events</h3>
       
    </div>
   
    {% for event in user.myEvents %}
    <div id="personalInfo">
       
        <div class="fields">
           <h3>{{event.eventName}}</h3>
           <p>Organizer: {{event.organizer}}</p>
           <p>When : {{event.date}}</p>
           <p> Time : {{event.time}}</p>
           <p>Location:{{event.location}}</p>
           <p>Point of Contact: {{event.pointOfContact}}</p>
           <p>Description: {{event.description}}</p>
           
        </div>
        <button class="deleteBtn">delete</button>

    
    </div>
    {% endfor %}

    <div class="labels">
        <h3>My Postings</h3>
        
    </div>

    {% for event in user.myPostings %}
    <div id="personalInfo">
       
        <div class="fields">
           <h3>{{event.eventName}}</h3>
           <p>Organizer: {{event.organizer}}</p>
           <p>When : {{event.date}}</p>
           <p> Time : {{event.time}}</p>
           <p>Location:{{event.location}}</p>
           <p>Point of Contact: {{event.pointOfContact}}</p>
           <p>Description: {{event.description}}</p>
           
        </div>
        <button class="editBtn">edit</button>
        <button class="deleteBtn">delete</button>

       
       
    </div>
    {% endfor %}

    
   
</div>


{% endblock %}